/*** Default styles ***/

body {
  overflow-x:hidden;
}

.no-padding {
  padding: 0 !important;
}

/************************************
************ Header *****************
************************************/

/*** main ***/
.main-nav {
  background: #fff;
  border: none;
  border-radius: 0;
  box-shadow: 1px 1px 1px #888888;
  margin-bottom: 0;
}

/** Logo **/
.main-logo img {
  padding: 1.5em 1.5em;
}




/*** Top header ***/
.top-bar {
  padding: .3em 0;
  background: #fff;
  color: #333;
}
.social-links p  {
  margin: 0px;
  padding: .3em 0 0 0;
}
.social-links p a {
  padding: .6em;
}

.contact-info p {
    margin: 0px;
    padding: .3em 0 0 0;
}
.contact-info p a {
  padding: .6em;
}

/*** icons ***/
.top-bar .contact-info,.social-links span.glyphicon{   
  font-size: 1.1em;
  color: #3f4040;
}
.top-bar .contact-info,a,p span.glyphicon{   
 
  color: #333;
}
.top-bar .contact-info,a:hover{   
 text-decoration: none;
 color: #ffffff; 
}
.top-bar .contact-info,a:focus{   
 text-decoration: none;
 color: #ffffff; 
}
.top-bar .contact-info,a:visited{   
 text-decoration: none;
 color: #3f4040; 
}

.fa {
  color: #adadad;
}
 .facebook:hover{
  color: #3a5795;
}

.twitter:hover {
  color: #55acee;
}

.google:hover {
  color: #AE1811;
}

.instagram:hover {
  color: #81573F;
}

.pinterest:hover {
  color: #DC0E0B;
}

.linkedin:hover {
  color: #007AB5;
}

/**** Tablet and mobile ****/
@media screen and (max-width:48em ){ 
  .social-links {
    float: left !important;
  }

}



/************************************
************ Menu Styles ************
************************************/

/***** Main menu ****/

.dropdown-menu {
  margin-top: -1px !important;
}


.main-menu-container li a {
  padding: 2em .8em;
  font-size: 1.1em;
  color: #3f4040 !important;
  height: 85px;
  border-top: 3px solid #fff;
}

.navbar-default .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
  background-color: #fff;
}
.navbar-default .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:active{
  background-color: #fff;
}
.navbar-default .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:visited{
  background-color: #fff;
}
.main-menu-container .open>a:focus  {
  border-color: #f78e20;
}

.main-menu-container .open>a:visited  {
  border-color: #f78e20;
}



.main-menu-container .dropdown-menu li a {
    height: auto;
    padding: .4em 1em;
    border: none;
}

.main-menu-container .dropdown-menu li a:hover {
    border:none;
}






.main-menu-container li a:hover {
  border-top: 3px solid #f78e20;
   -webkit-animation: bordertop .25s forwards; /* Chrome, Safari, Opera */ 
    animation: bordertop .25s forwards;
       
       -webkit-animation: menutext .3s forwards; /* Chrome, Safari, Opera */ 
    animation: menutext .3s forwards;
}
/** Menu border animation **/
@-webkit-keyframes bordertop {
    0%   {border-top: 0px solid #f78e20; }
    100% {border-top: 3px solid #f78e20; color: #f78e20; }
}

/** Menu text animation **/
@keyframes menutext {
    
    100% {color: #f78e20;}
}

@-webkit-keyframes menutext {
  
    100% {color: #f78e20; }
}


@keyframes bordertop {
    0%   {border-top: 0px solid #f78e20;}
    100% {border-top: 3px solid #f78e20; color: #f78e20;}
}

.menu-animation {
  -webkit-animation-duration: .25s;
          animation-duration: .25s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

/*** Main right menu ****/

.main-right-menu {
  padding: 1em 0em;
}



/***** mega menu ****/

.list-unstyled,
.list-unstyled ul { min-width: 284px }

@media ( min-width: 767px ) {
  .panel-group { width: 400px; }
  .thumbnail { margin: 0; }
}



  .grid-demo [class*="col-"] {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1em;
    text-align: center;
    line-height: 2;
    background-color: #e5e1ea;
    border: 1px solid #d1d1d1;
  }


.yamm .nav,
.yamm .collapse,
.yamm .dropup,
.yamm .dropdown {
  
}
.mega {
  position: static !important;
}
.yamm .container {
  position: relative;
}
.yamm .dropdown-menu {
  left: 0;
}
.yamm .yamm-content {
  padding: 20px 30px;
}
.yamm .dropdown.yamm-fw .dropdown-menu {
  left: 0;
  right: 0;
}


/******** Menu Search *********/
#main-search-form {
  position: absolute;
  /* top: 0; */
  z-index: 100;
  margin: 0px;
  padding: 0px;
  display: none;
}


#main-search-form input {
    opacity: 0;
   -webkit-animation: search-show .60s forwards; /* Chrome, Safari, Opera */ 
    animation: search-show .60s forwards;
}


@keyframes search-show {
    0% {  
      width: 0;
      opacity: 0;
    }
    100% { 
      width: 13em;
      opacity: 1;
    }
}

@-webkit-keyframes search-show {
  
   0% { 
        width: 0;
        opacity: 0;
       }
    100% {
      width: 13em;
      opacity: 1;
    }
}



/************************************
************ Off canvas ************
************************************/
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}

/************************************
************ Isotope ************
************************************/

/*** Isotope layout ***/
/* clear fix */
.isotope:after {
  content: '';
  display: block;
  clear: both;
}


/******* Isotope load animation ******/

.iso-animate {
    -webkit-animation-duration: 1s;
      animation-duration: 1s;
}

.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s;
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  transition-property: transform, opacity;
}
