/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}

/********************
Isotope
********************/

/*** Isotope layout ***/
* clear fix */
.isotope:after {
  content: '';
  display: block;
  clear: both;
}



.item,
.grid-sizer {
  width: 20%;
  display: block;
  margin: 2em 0em;
}

.item {
  
  height: auto;

}

.item.width2 { width: 40%; }
.item.height2 { height: auto; }

/******* Isotope load animation ******/

.iso-animate {
    -webkit-animation-duration: 1s;
      animation-duration: 1s;
}
<<<<<<< HEAD
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s;
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  transition-property: transform, opacity;
}
=======

/******* Media queries for isotope **********/


@media screen and (max-width:992px) {
  .item,
  .grid-sizer {
    width: 50%;
    
  }
  .item.width2 {
    width: 50%;
  }

  .item {
    height: 200px;

  }

@media screen and (max-width:570px) {
  .item,
  .grid-sizer {
    width: 100%;

  }
  .item.width2 {
    width: 100%;
  }
  
}
>>>>>>> dd21f75d46dde721ebd4a0a254dde88a732f1a5a
